@charset "utf-8";
/* CSS Document */

/*タブのスタイル*/

.tab1{
	border: 3px solid #0067B4;
}
.tap-wrap ul .tab1 a{
	color: #0067B4;
}
.tap-wrap ul li:nth-child(2){
	border: 3px solid #EBBD53;
}
.tap-wrap ul .tab2 a{
	color: #EBBD53;
}
.tap-wrap ul li:nth-child(3){
	border: 3px solid #63C3AA;
}
.tap-wrap ul .tab3 a{
	color: #63C3AA;
}
.tap-wrap ul .tab1:hover{
	background-color: #E5F0F7;
}
.tap-wrap ul .tab2:hover{
	background-color: #FDF6E7;
}
.tap-wrap ul .tab3:hover{
	background-color: #E9F7F3;
}
.tap-wrap ul .tab1.active,
.tap-wrap ul .tab1.active a{
    background-color: #0067B4;
    color: #fff;
}
.tap-wrap ul .tab2.active,
.tap-wrap ul .tab2.active a{
    background-color: #EBBD53;
    color: #fff;
}
.tap-wrap ul .tab3.active,
.tap-wrap ul .tab3.active a{
    background-color: #63C3AA;
    color: #fff;
}
.panel.is-show{

    /* 要素の前後に改行を入れる */
    display:block;
}
/*タブコンテンツ*/
.homon-sub{
	background: url("../images/homon-bg.jpg") center/ 100% no-repeat;
}
.itaku-sub{
	background: url("../images/itaku-bg.jpg") center/ 100% no-repeat;
}
.sodan-sub{
	background: url("../images/sodan-bg.jpg") center/ 100% no-repeat;
}
.inner-bg{
	background-color: rgba(255,255,255,0.75);
	padding: 50px 0;
}
.inner-bg h4,
.inner-bg p{
	width: 90%;
	margin: 0 auto;
}
.homon-sub h4, .homon-sub p, .itaku-sub h4, .itaku-sub p, .sodan-sub h4, .sodan-sub p{
	margin: auto;
	text-align: center;
}
.homon-sub h4, .itaku-sub h4, .sodan-sub h4{
	margin-bottom: 30px;
	font-size: 1.35rem;
}
 /*訪問介護*/
.naiyo-inner{
	background-color: #E5F0F7;
}
.naiyo-items{
	margin: auto;
}
.naiyo-item{
	padding: 20px 0 20px 0;
}

.nagare-chart {	
	margin: 0 auto;
	display: grid;
	max-width: 414px;
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-items: center;
}
#homon .naiyo-sub{
	background-color: #E5F0F7;
	padding: 30px 0 30px 0;	
}

/*居宅介護支援*/
#itaku .naiyo-sub{
	background-color: #FDF6E7;
	padding: 30px 0 30px 0;	
}

/*相談支援*/
#sodan .naiyo-sub{
	background-color: #E9F7F3;
	padding: 30px 0 30px 0;	
}

/*FAQ*/
.faq-ttl{
	padding: 20px 0 20px 50px;
	font-size: 1.5rem;
	background-color: #FFDBED;
	border-top: 3px solid #BB1E5E;
	margin: 50px 0 20px;
}
.qa__box{
	background: #fff;
	border: 1px solid #BB1E5E;
	display: block;
	margin: 0 auto 10px;
	text-align: left;
	
}
.qa__box:last-child{
	margin-bottom: 50px;
}
.qa__ttl{
	background: #FFDBED;
	cursor: pointer;
	display: table;
	min-height: 70px;
	width: 100%;
	padding: 15px;
}
.icon-quesion{
	background: #BB1E5E;
	color: #fff;
	display: table-cell;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	width: 40px;
}
.ttl-quesion{
	display: table-cell;
	font-size: 1rem;
	font-weight: 600;
	padding: 5px 10px 5px 10px;
	vertical-align: middle;
	width: calc(100% - 100px);
	position: relative;
	z-index: 1;
	cursor: pointer;
	transition-duration: 0.2s;
}
.qa__sub{
	display: none;
	padding: 30px 0;
	width: 100%;
}
.icon-answer{
	color: #BB1E5E;
	display: table-cell;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	padding: 0 10px 0 30px;
}
.ttl-answer{
	display: table-cell;
	font-size: .9rem;
	line-height: 1.5;
	padding: 5px 10px 5px 10px;
	vertical-align: top;
	width: calc(100% - 100px);
	letter-spacing: .1rem;	
}

@media screen and (min-width:768px){
	.tap-wrap ul{
		width: 100%;
		max-width: 1280px;
		margin: 0 auto 20px;
		display: flex;
		justify-content: space-between;
	}
	.tap-wrap ul li{
		width: 32%;
		text-align: center;
		padding: 20px 0;
		font-size: 1.5rem;
		font-weight: 500;
		border-radius: 15px;
	}
	.tap-wrap ul li a{
		display: block;
	}
	.homon-sub h4, .homon-sub p, .itaku-sub h4, .itaku-sub p, .sodan-sub h4, .sodan-sub p{
		width: 100%;
		max-width: 1280px;
	}
	.naiyo-items{
		max-width: 1280px;
		display: flex;
		justify-content: space-between;
	}
	.naiyo-item{
		width: 30%;
	}
	.naiyo-sub-item{
		width: 100%;
		max-width: 1280px;
		margin: auto;
	}
	#itaku .naiyo-item{
		width: 48%;
	}
	.naiyo-item-1st{
		/* padding-top: 50px; */
		width: 100%;
		max-width: 1280px;
	}
	#sodan .naiyo-item{
		width: 96%;
	}
	.taishou-sub ul{
		display: flex;
		justify-content: space-between;
	}
	.qa__box{
		max-width: 1000px;
		width: 100%;
	}
	.nagare-chart{
		max-width: 686px;
		grid-template-columns: repeat(2,1fr);
		column-gap: 40px;
		row-gap: 65px;
	}
	.nagare-chart .chart-item {
		position: relative;
	}
	.homon-step .chart-item:last-child {
		grid-column: span 2;
		width: 323px;
	}
	.itaku-step .chart-item:last-child {
		grid-column: span 2;
		width: 324px;
	}
	.homon-step .chart-item::after,
	.homon-step .chart-item::before {
		background-color: #4D94CA;
		position: absolute;
		z-index: -1;
	}
	.homon-step .chart-item:nth-of-type(1)::after {
		content: '';
		height: 10px;
		width: 40px;
		top: 76px;
	}
	.homon-step .chart-item:nth-of-type(2)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: 176px;
		left: 150px;
	}
	.homon-step .chart-item:nth-of-type(2)::after {
		content: '';
		height: 10px;
		width: 368px;
		top: 210px;
		left: -218px;
	}
	.homon-step .chart-item:nth-of-type(3)::before {
		content: '';
		height: 30px;
		width: 10px;
		top: -30px;
		left: 145px;
	}
	.homon-step .chart-item:nth-of-type(3)::after {
		content: '';
		height: 10px;
		width: 42px;
		top: 106px;
		left: 322px;
	}
	.homon-step .chart-item:nth-of-type(4)::before {
		content: '';
		height: 74px;
		width: 10px;
		top: 176px;
		left: 145px;
	}
	.homon-step .chart-item:nth-of-type(4)::after {
		content: '';
		height: 10px;
		width: 173px;
		top: 240px;
		left: -27px;
	}
	.homon-step .chart-item:nth-of-type(5)::before {
		content: '';
		height: 42px;
		width: 10px;
		top: -42px;
		left: 154px;
	}
	.itaku-step .chart-item::after,
	.itaku-step .chart-item::before {
		background-color: #ECBD53;
		position: absolute;
		z-index: -1;
	}
	.itaku-step .chart-item:nth-of-type(1)::after {
		content: '';
		height: 10px;
		width: 40px;
		top: 76px;
	}
	.itaku-step .chart-item:nth-of-type(2)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: 210px;
		left: 150px;
	}
	.itaku-step .chart-item:nth-of-type(2)::after {
		content: '';
		height: 10px;
		width: 364px;
		top: 244px;
		left: -213px;
	}
	.itaku-step .chart-item:nth-of-type(3)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: -32px;
		left: 150px;
	}
	.itaku-step .chart-item:nth-of-type(3)::after {
		content: '';
		height: 10px;
		width: 40px;
		top: 76px;
	}
	.itaku-step .chart-item:nth-of-type(4)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: 172px;
		left: 150px;
	}
	.itaku-step .chart-item:nth-of-type(4)::after {
		content: '';
		height: 10px;
		width: 364px;
		top: 206px;
		left: -213px;
	}
	.itaku-step .chart-item:nth-of-type(5)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: -35px;
		left: 150px;
	}
	.itaku-step .chart-item:nth-of-type(5)::after {
		content: '';
		height: 10px;
		width: 40px;
		top: 76px;
	}
	.itaku-step .chart-item:nth-of-type(6)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: 172px;
		left: 150px;
	}
	.itaku-step .chart-item:nth-of-type(6)::after {
		content: '';
		height: 10px;
		width: 364px;
		top: 206px;
		left: -213px;
	}
	.itaku-step .chart-item:nth-of-type(7)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: -32px;
		left: 150px;
	}
	.itaku-step .chart-item:nth-of-type(7)::after {
		content: '';
		height: 10px;
		width: 40px;
		top: 76px;
	}
	.itaku-step .chart-item:nth-of-type(8)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: 172px;
		left: 150px;
	}
	.itaku-step .chart-item:nth-of-type(8)::after {
		content: '';
		height: 10px;
		width: 182px;
		top: 206px;
		left: -31px;
	}
	.itaku-step .chart-item:nth-of-type(9)::before {
		content: '';
		height: 40px;
		width: 10px;
		top: -34px;
		left: 151px;
	}
	.sodan-step .chart-item::after,
	.sodan-step .chart-item::before {
		background-color: #62C2AA;
		position: absolute;
		z-index: -1;
	}
	.sodan-step .chart-item:nth-of-type(1)::after {
		content: '';
		height: 10px;
		width: 40px;
		top: 88px;
	}
	.sodan-step .chart-item:nth-of-type(2)::before {
		content: '';
		height: 42px;
		width: 10px;
		top: 174px;
		left: 150px;
	}
	.sodan-step .chart-item:nth-of-type(2)::after {
		content: '';
		height: 10px;
		width: 364px;
		top: 206px;
		left: -213px;
	}
	.sodan-step .chart-item:nth-of-type(3)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: -32px;
		left: 150px;
	}
	.sodan-step .chart-item:nth-of-type(3)::after {
		content: '';
		height: 10px;
		width: 40px;
		top: 88px;
	}
	.sodan-step .chart-item:nth-of-type(4)::before {
		content: '';
		height: 42px;
		width: 10px;
		top: 174px;
		left: 150px;
	}
	.sodan-step .chart-item:nth-of-type(4)::after {
		content: '';
		height: 10px;
		width: 364px;
		top: 206px;
		left: -213px;
	}
	.sodan-step .chart-item:nth-of-type(5)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: -36px;
		left: 150px;
	}
	.sodan-step .chart-item:nth-of-type(5)::after {
		content: '';
		height: 10px;
		width: 40px;
		top: 88px;
	}
	.sodan-step .chart-item:nth-of-type(6)::before {
		content: '';
		height: 42px;
		width: 10px;
		top: 174px;
		left: 150px;
	}
	.sodan-step .chart-item:nth-of-type(6)::after {
		content: '';
		height: 10px;
		width: 364px;
		top: 206px;
		left: -213px;
	}
	.sodan-step .chart-item:nth-of-type(7)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: -36px;
		left: 150px;
	}
	.sodan-step .chart-item:nth-of-type(7)::after {
		content: '';
		height: 10px;
		width: 40px;
		top: 88px;
	}
	.icon-quesion {
		width: 60px;
	}
	.ttl-quesion{
		padding: 5px 60px 5px 30px;
	}
	.icon-answer{
		padding: 0 35px 0 35px;
	}
	.ttl-answer{
	padding: 5px 60px 5px 30px;
	}
}
@media screen and (min-width:1024px) {
	.nagare-chart{
		max-width: 908px;
		grid-template-columns: repeat(2,1fr);
		column-gap: 60px;
		row-gap: 92px;
	}
	.nagare-chart .chart-item {
		position: relative;
	}
	.homon-step .chart-item:last-child {
		grid-column: span 2;
		width: 424px;
	}
	.itaku-step .chart-item:last-child {
		grid-column: span 2;
		width: 424px;
	}
	.homon-step .chart-item::after,
	.homon-step .chart-item::before {
		background-color: #4D94CA;
		position: absolute;
		z-index: -1;
	}
	.homon-step .chart-item:nth-of-type(1)::after {
		content: '';
		height: 10px;
		width: 60px;
		top: 100px;
		left:424px;
	}
	.homon-step .chart-item:nth-of-type(2)::before {
		content: '';
		height: 50px;
		width: 10px;
		top: 230px;
		left: 206px;
	}
	.homon-step .chart-item:nth-of-type(2)::after {
		content: '';
		height: 10px;
		top: 280px;
		left: -278px;
		width: 494px;
	}
	.homon-step .chart-item:nth-of-type(3)::before {
		content: '';
		height: 50px;
		width: 10px;
		top: -42px;
		left: 206px;
	}
	.homon-step .chart-item:nth-of-type(3)::after {
		content: '';
		height: 10px;
		width: 60px;
		top: 161px;
		left: 424px;
	}
	.homon-step .chart-item:nth-of-type(4)::before {
		content: '';
		height: 96px;
		width: 10px;
		top: 230px;
		left: 206px;
	}
	.homon-step .chart-item:nth-of-type(4)::after {
		content: '';
		height: 10px;
		width: 252px;
		top: 325px;
		left: -36px;
	}
	.homon-step .chart-item:nth-of-type(5)::before {
		content: '';
		height: 50px;
		width: 10px;
		top: -42px;
		left: 206px;
	}
	.itaku-step .chart-item::after,
	.itaku-step .chart-item::before {
		background-color: #ECBD53;
		position: absolute;
		z-index: -1;
	}
	.itaku-step .chart-item:nth-of-type(1)::after {
		content: '';
		height: 10px;
		width: 60px;
		top: 115.5px;
		left: 424px;
	}
	.itaku-step .chart-item:nth-of-type(2)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: 280px;
		left: 212px;
	}
	.itaku-step .chart-item:nth-of-type(2)::after {
		content: '';
		height: 10px;
		width: 494px;
		top: 324px;
		left: -272px;
	}
	.itaku-step .chart-item:nth-of-type(3)::before {
		content: '';
		height: 46px;
		width: 10px;
		top: -46px;
		left: 212px;
	}
	.itaku-step .chart-item:nth-of-type(3)::after {
		content: '';
		height: 10px;
		width: 60px;
		top: 115.5px;
		left: 424px;
	}
	.itaku-step .chart-item:nth-of-type(4)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: 228px;
		left: 212px;
	}
	.itaku-step .chart-item:nth-of-type(4)::after {
		content: '';
		height: 10px;
		width: 494px;
		top: 272px;
		left: -272px;
	}
	.itaku-step .chart-item:nth-of-type(5)::before {
		content: '';
		height: 50px;
		width: 10px;
		top: -50px;
		left: 212px;
	}
	.itaku-step .chart-item:nth-of-type(5)::after {
		content: '';
		height: 10px;
		width: 60px;
		top: 115.5px;
		left: 424px;
	}
	.itaku-step .chart-item:nth-of-type(6)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: 228px;
		left: 212px;
	}
	.itaku-step .chart-item:nth-of-type(6)::after {
		content: '';
		height: 10px;
		width: 494px;
		top: 272px;
		left: -272px;
	}
	.itaku-step .chart-item:nth-of-type(7)::before {
		content: '';
		height: 50px;
		width: 10px;
		top: -50px;
		left: 212px;
	}
	.itaku-step .chart-item:nth-of-type(7)::after {
		content: '';
		height: 10px;
		width: 60px;
		top: 115.5px;
		left: 424px;
	}
	.itaku-step .chart-item:nth-of-type(8)::before {
		content: '';
		height: 65px;
		width: 10px;
		top: 225px;
		left: 212px;
	}
	.itaku-step .chart-item:nth-of-type(8)::after {
		content: '';
		height: 10px;
		width: 253px;
		top: 280px;
		left: -31px;
	}
	.itaku-step .chart-item:nth-of-type(9)::before {
		content: '';
		height: 42px;
		width: 10px;
		top: -40px;
		left: 211px;
	}
	.sodan-step .chart-item::after,
	.sodan-step .chart-item::before {
		background-color: #62C2AA;
		position: absolute;
		z-index: -1;
	}
	.sodan-step .chart-item:nth-of-type(1)::after {
		content: '';
		height: 10px;
		width: 60px;
		top: 115.5px;
		left: 424px;
	}
	.sodan-step .chart-item:nth-of-type(2)::before {
		content: '';
		height: 48px;
		width: 10px;
		top: 228px;
		left: 202px;
	}
	.sodan-step .chart-item:nth-of-type(2)::after {
		content: '';
		height: 10px;
		width: 494px;
		top: 276px;
		left: -282px;
	}
	.sodan-step .chart-item:nth-of-type(3)::before {
		content: '';
		height: 44px;
		width: 10px;
		top: -44px;
		left: 202px;
	}
	.sodan-step .chart-item:nth-of-type(3)::after {
		content: '';
		height: 10px;
		width: 60px;
		top: 115.5px;
		left: 424px;
	}
	.sodan-step .chart-item:nth-of-type(4)::before {
		content: '';
		height: 48px;
		width: 10px;
		top: 228px;
		left: 202px;
	}
	.sodan-step .chart-item:nth-of-type(4)::after {
		content: '';
		height: 10px;
		width: 494px;
		top: 276px;
		left: -282px;
	}
	.sodan-step .chart-item:nth-of-type(5)::before {
		content: '';
		height: 50px;
		width: 10px;
		top: -50px;
		left: 202px;
	}
	.sodan-step .chart-item:nth-of-type(5)::after {
		content: '';
		height: 10px;
		width: 60px;
		top: 115.5px;
		left: 424px;
	}
	.sodan-step .chart-item:nth-of-type(6)::before {
		content: '';
		height: 48px;
		width: 10px;
		top: 228px;
		left: 202px;
	}
	.sodan-step .chart-item:nth-of-type(6)::after {
		content: '';
		height: 10px;
		width: 494px;
		top: 276px;
		left: -282px;
	}
	.sodan-step .chart-item:nth-of-type(7)::before {
		content: '';
		height: 50px;
		width: 10px;
		top: -50px;
		left: 202px;
	}
	.sodan-step .chart-item:nth-of-type(7)::after {
		content: '';
		height: 10px;
		width: 60px;
		top: 115.5px;
		left: 424px;
	}
}
@media screen and (min-width:769px) and (max-width:1280px){
	.tap-wrap ul{
		justify-content: space-around;
	}
	.tap-wrap ul li{
		width: 30%;
	}
	.naiyo-items, .naiyo-sub-item, .qa__box{
		width: 90%;
		margin: auto;
	}
	.qa__box{
		margin-bottom: 5px;
	}
}
@media screen and (max-width:768px){
	.tap-wrap ul{
		width: 90%;
		margin: 20px auto;
	}
	.tap-wrap ul li{
		width: 90%;
		text-align: center;
		margin: 5px auto;
		padding: 8px 0;
		font-size: 1.5rem;
		font-weight: 500;
		border-radius: 15px;
	}
	.sec-ttl{
		margin: 30px auto 10px;
	}
	.naiyo-items, .naiyo-sub-item, .qa__box{
		width: 90%;
		margin: auto;
	}
	.naiyo-item ul li{
		padding-left: 10px;
	}
	.homon-sub, .itaku-sub, .sodan-sub{
		background-size: cover;
	}
}







